@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .input {
        @apply w-full bg-gray-50 p-4 rounded-xl border border-gray-200 mb-4 text-base;
    }

    .label {
        @apply text-gray-700 font-medium mb-1 ml-1;
    }
}